@model EpisodeViewModel
@{
    ViewData["Title"] = Model.Title + " Episode Guide";
    Layout = "~/Views/Master.cshtml";
}
@section Meta {

}

<div class="interior cf">
    <div class="inner">        <h1>@Model.Title</h1>
        <h2>Basic Information</h2>

        <p>
            <strong>Description:</strong>
            @Model.Description
        </p>
        <p>
            <strong>Director:</strong>
            @String.Join(", ", Model.Director)
        </p>
        <p>
            <strong>Writer:</strong>
            @String.Join(", ", Model.Writer)
        </p>
        <p>
            <strong>Producer:</strong>
            @String.Join(", ", Model.Producer)
        </p>
        <p>
            <strong>Studio:</strong>
            @Model.Studio
        </p>
        <p>
            <strong>Executive Producer:</strong>
            @String.Join(", ", Model.ExecutiveProducer)
        </p>
        <p>
            <strong>Air Date:</strong>
            @String.Format("{0:MMMM d, yyyy}", Model.AirDate)
        </p>
        <p>
            <strong>Season:</strong>
            Season @Model.Season
        </p>
        <p>
            <strong>Production Number:</strong>
            @Model.ProductionNumber
        </p>

        <h2>Cast</h2>
        <p>
            <strong>Regular Cast:</strong>
            @String.Join(", ", Model.Stars)
        </p>
        <p>
            <strong>Guest Cast:</strong>
            @String.Join(", ", Model.GuestStars)
        </p>

        <h2>Notes</h2>

        <h2>Quotes</h2>
        <p style="font-style:italic;">Sorry, nothing has been provided for this episode yet. <a href="/Contact">Contact us</a> for suggestions!</p>

        <h2>Goofs</h2>
        <p style="font-style:italic;">Sorry, nothing has been provided for this episode yet. <a href="/Contact">Contact us</a> for suggestions!</p>

        <h2>Cultural References</h2>
        <p style="font-style:italic;">Sorry, nothing has been provided for this episode yet. <a href="/Contact">Contact us</a> for suggestions!</p>
    </div>
</div>

@section Scripts {

}